* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
#__next {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.stage {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  position: relative;

  .word-shower-area-bg {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .word {
    position: absolute;
    font-size: 1.3em;
  }

.word:first-child {
    border: 2px solid orange;
}

  .input-cntr {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  .forground {
    display: flex;
    justify-content: center;
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: end;
  }

  .input {
    border: 0;
    padding: 0;
    border-bottom: 1px solid #999;
    outline: none;
    font-size: xx-large;
    text-align: center;
    font-weight: 100;
    opacity: .5;
  }

  .players {
    margin: 1em;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  .worm {
    position: absolute;
    display: flex;
    padding-right: 10px;

    .letter {
      position: relative;
      font-size: 1em;
      font-weight: bold;

      text-align: center;
      width: 1.5em;
      height: 1.5em;
      line-height: 1em;
      border-radius: 50%;
      border: 1px solid rgb(106, 106, 106);
      margin: 0.1em;
      font-size: large;
    }
  }
}
